.cart-list-view {
    width: 90%;
    display: inline-flex;
    align-items: center;
    margin: 20px 0px;
    padding: 20px;

    h1 {
        text-align: left;
        &:first-child {
            width: 70px;
            margin-right: 20px;
            font-size: 18px;
        }
        &:nth-child(2) {
            width: 240px;
            margin-right: 40px;
        }
    }
    
    p {
        text-align: left;
        &:nth-child(3) {
            width: 40%;
        }
    }

    .important {
        width: 20px;
        height: 20px;
        background-color: sandybrown;
        border-radius: 50%;
        position: absolute;
    
        right: 20px;
    }

    .checkout-container {
        left: -70px;
    }

    .indicator {
        background-color: #fff;
        color: red;
        border-radius: 10px;
        font-weight: 500;
        padding: 5px 20px;
    
        position: absolute;
        right: -90px;
    
    }
}