.menu-button {
    padding: 10px 20px;
    border-radius: 18px;
    box-shadow: 2px 3px 4px 1px rgba(0, 0, 0, 0.432);
    transition-duration: 0.1s;

    &:active {
        box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.432);
        transition-duration: 0.1s;
    }
}

.menu-change-view-button {
    position: absolute;
    left: 40px;
    top: 130px;
    width: 90px;
}